<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- Ensure correct JS file path -->
    <title>Poker Draw Calculator</title>
</head>
<body>
    <h1>Poker Draw Calculator</h1>

    <button id="drawButton">Draw</button> <!-- Button to generate poker hand -->

    <p id="poker-hand">Click 'Draw' to generate a poker hand</p> <!-- Section to display poker hand -->
    <h2>Select which cards to discard</h2>
    
    <label><input type="checkbox" id="box1"> Card 1</label><br>
    <label><input type="checkbox" id="box2"> Card 2</label><br>
    <label><input type="checkbox" id="box3"> Card 3</label><br>
    <label><input type="checkbox" id="box4"> Card 4</label><br>
    <label><input type="checkbox" id="box5"> Card 5</label><br>

    <p id="checkbox-response">0 cards selected</p> <!-- Section to display checkbox selection message -->

    <p id="probability-display"></p> <!-- Section to display checkbox selection message -->
</body>
</html>